{% extends 'base.html' %}

{% block style %}
<style>
    h1, h2, p {
        color: beige;
    }
    a {
        color: greenyellow;
        text-decoration: none;
        font-size: x-large;
    }
</style>
{% endblock %}

{% block content %}

    <h1>Bem-vindo, Pedro ao controle do seu dinheiro.</h1>
    <p>O que precisa para hoje?</p>
        <a href="/">Adicionar fundo</a><br>
        <a href="">Retirar fundo</a><br>
        <a href="">Ver extrato</a><br>
        <a href="/config">Configurar porcentagens</a>

{% endblock %}